@import '~bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);



body {
    font-family: "Roboto";
    color: white;
    outline: none;
    background-color: #d2e3ed;
}

.container {
    background-color: #fff; 
    width: 375px;
    min-height: 700px;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    -webkit-backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 22px;
}

/*header of the list------------------------------*/
.headercontainer {
    position: relative;
    height: 170px;
    width: auto;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    background:linear-gradient(#5C258D,#4389A2);
    margin: 0 auto;
}

h4 {
    font-size: 25px;
    font-family: "Roboto";
    letter-spacing: 2px;
    text-align: center;
    padding-top: 5%;
}

input {
   background-color: #eeeeee; 
   margin: 0px auto;
   color: #2a87a4; 
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 166px;
   padding-left: 7px;
   border-radius: 50px;
   border: 1px solid #a69f9f;
}

input:hover{
    background-color: #d7d7d7;
}

ol {
    font-size: 20px;
    border-bottom: 1px solid #1c2340;
    border-top: 1px solid #1c2340;
}

button{
    background: transparent;
    border-radius: 50px;
}

button:hover{
    background-color: #641f938c;
}


li {
    color: #2a87a4;
}
